.wrapper{
  width: 500px;
  margin: 0 auto
}

.products{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.product{
  text-align: center;
  background-color: aliceblue;
  padding: 20px;
  margin: 10px;
  width: 145px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.product h2{
  font-size: 18px;
}
.pruduct h3{
  font-size: 14px;
}